body{
  background-image: linear-gradient(0deg, transparent 31px, #cdcdcd 32px),linear-gradient(90deg,  transparent 31px, #cdcdcd 32px);
  background-color:#fffdcb;
  background-size: 32px 32px;
  font-family: "Open Sans","Segoe UI",Verdana,Arial,"UD デジタル 教科書体 NK-R","游ゴシック Medium","Yu Gothic Medium","游ゴシック",YuGothic,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3";
} 
.info:hover{
  cursor: pointer;
  color: blue;
  font-weight: 600;
}
h2+p {
  font-size: small;
  max-width: 750px;
}
li {font-size: 16px;}
a {font-weight: 600;}
a:hover{
  cursor: pointer;
  text-decoration: none;
  color:rgb(255, 30, 125);
}
li {padding-bottom: 0.5em;}
#name {display: inline-block;}
#hideSpan {display: none;}
#note {margin-bottom: 2em;}


label {margin-right:1em}
label [type=checkbox] {display:none}
label span {
      cursor: pointer;
      font-size: 12px;
      border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
      margin-right: 1em;
      padding: 5px; /* 上下左右に余白をトル */

      color: green;
      background: white;
      border: 1px solid green; /* 淵の線を指定 */
}
label input:checked + span {
      color: #FFF;
      background: red;
      border: 1px solid red;
}
[type=checkbox]+span+a{visibility:hidden}
[type=checkbox]:checked+span+a{visibility:visible}
label span:before {content: 'リンクを表示する';}
label input:checked + span:before {content: 'リンクを非表示にする';}